body {
    background-color: beige;
}
#background {
    background-image: url("header-bild.png");
}

#overlay{
    background-color: white;
    position: top;
}
h1{
    background-color: white;
    height: 3cm;
    opacity: 0.5;
    font-family: Arial;
    font-size: 1cm;
}