body {
    background-color: beige;
}
#background {
    background-image: url("header-bild.png");
}

#overlay{
    background-color: white;
    position: top;
}
h1{
    background-color: white;
    height: 3cm;
    opacity: 0.5;
    font-family: Arial;
    font-size: 1cm;
}

h2{
    font-size: small;
    position: left;
}
footer{
    background-color: grey;
    height: 2cm;
}

#map {
  height: 400px;
  width: 100%;
}