body {
    background-color: beige;
}
#background {
    position: top;
    background-image: url("header-bild.png");
}

#overlay{
    background-color: white;
    position: absolute;
    height: 3cm;
    left: 4cm;
    right: 4cm;
    
}
h1{
    background-color: white;
    height: 3cm;
    opacity: 0.5;
    font-family: Arial;
    font-size: 1cm;
}

h2{
    font-size: small;
    position: left;
}
footer{
    background-color: grey;
    height: 2cm;
}

#map {
    background-color: white;
    height: 400px;
    width: 100%;
}

#oeffnungszeiten{
    position: fixed;
    left: 8cm;
}
h6{
    font-size: 2cm;
}